/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-size: 18px;
    margin-bottom: 15px;
    font-family: 'Rubik', sans-serif;
}

h2 {
    font-size: 24px;
    font-weight: 500;
}

p {
    line-height: 1.4;
}

.container {
    width: 80%;
    margin: 0 auto;
}

header {

}

nav {
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
    padding-bottom: 2%;
}

.nav-items {
    display: flex;
    justify-content: space-evenly;
    align-items:baseline;
    
}

.nav-item {
    padding: 20px 80px;
    text-decoration: none;
    color: black;
    font-size: 18px;
    font-weight: 500;
    border-bottom: 1px solid transparent;
    transition: all ease-in-out .3s;
}

.nav-item:hover {
    color: tomato;
    border-color: black;
}

.header-img {
    width: 100%;
    padding-bottom: 2%;
}

.top-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 20px;
    border-bottom: 1px dashed black;
    
}

.top-content .text-container {
    width: 48%;
    padding: 0 1%;
    padding-bottom: 20px; 
    font-size: 22px; 
    font-weight: 500;
}

.middle-content {
    margin-bottom: 20px;
    border-bottom: 1px dashed black;
}

.middle-content h2 {
    padding: 0 2%;
    margin-bottom: 0;
}

.middle-content .boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.middle-content .boxes .box {
    width: 9em;
    height: 9em;
    
    margin: 20px 2.5%;
    color: white;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.box1 {
    background-color: teal;
}
.box2 {
    background-color: gold;
}
.box3 {
    background-color: cadetblue;
}
.box4 {
    background-color: coral;
}
.box5 {
    background-color: crimson;
}
.box6 {
    background-color: forestgreen;
}
.box7 {
    background-color: darkorchid;
}
.box8 {
    background-color: hotpink;
}
.box9 {
    background-color: indigo;
}
.box10 {
    background-color: dodgerblue;
}

.box:hover {
    -webkit-animation:rotate .5s ease-out 0s 1 normal;
    -moz-animation:rotate .5s ease-out 0s 1 normal;
    -ms-animation:rotate .5s ease-out 0s 1 normal;
    animation:rotate .5s ease-out 0s 1 normal;
    }
    
    @-webkit-keyframes rotate {
    100%{ -webkit-transform: rotate(360deg); transform: rotate(360deg); }
    }
    @keyframes rotate {
    100%{ transform: rotate(360deg); }
    }

.bottom-content {
    display: flex;
    margin: 0 2% 20px;
    justify-content: space-around;
    font-size: 22px;
    font-weight: 500;
}

.bottom-content .text-container {
    padding-right: 6%;
    width: 70%;
}

.bottom-content .text-container:last-child {
    padding-right: 0;
}

footer {
    width: 100%;
    background: black;
}

footer nav {
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 2%;
    font-size: 14px;
    transition: all ease-in .3s;
}

footer nav a {
    color: white;
    font-weight: 600;
    text-decoration: none;
    border-bottom: 2px solid transparent;
}

footer nav a:hover {
    font-size: 18px;
    border-color: tomato;
}